{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<script type="text/javascript">
    
</script>
<body>
    <h1>This is the hub for the automation</h1>
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Air Quality<img src="/static/images/air_qual.png" class="img-fluid float-right" style="max-width: 2rem; height=auto;" alt="aq"/></div>
          <div class="card-body">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-white bg-dark mb-3" style="width: 18rem;">
          <img src="{{ url_for('cam.surveilance') }}" class="card-img-top" alt="cam">
          <div class="card-body">
            <p class="card-text">Video Feed<img src="/static/images/cam.png" class="img-fluid float-right" style="max-width: 2rem; height=auto;" alt="cam"/></p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      fetch('/get_data')
          .then(response => response.json())
          .then(data => {
              const labels = data.map(item => item.date);
              const values = data.map(item => item.value);
  
              const ctx = document.getElementById('myChart').getContext('2d');
              new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: labels,
                      datasets: [{
                          label: 'AQ',
                          data: values,
                          backgroundColor: 'rgba(75, 192, 192, 0.2)',
                          borderColor: 'rgba(75, 192, 192, 1)',
                          borderWidth: 1
                      }]
                  },
                  options: {
                      responsive: true,
                      scales: {
                          y: {
                              beginAtZero: true,
                              ticks: {
                                color: 'white'
                              }
                          },
                          x: {
                            ticks: {
                              color: 'white'
                            }
                          }
                      }
                  }
              });
          });
  </script>
    
</body> 
{% endblock %}
